* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    color: #105718;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
}

.copy {
    margin-top: 128px;
}

footer {
    background-color: #1f2821;
    color: #4c9c4a;
}

.main-content {
    background-color: #252525;
    background-image: url(../images/FUNDO_2.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 500px;
    padding-top: 40px;
}

.detail {
    background-size: cover;
}

@media (max-width: 992px) {
    .main-content {
        padding-bottom: 250px;
    }

    .detail {
        background-size: contain;
    }
}



/* Sobrescrita Bootstrap */
.form-control {
    border-right: none;
}

.form-control:focus {
    border-color: #cccc;
    border-right: none;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0);
}

.input-group-text {
    background-color: transparent;
    color: #62ab60;
}

.card-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 2px;
}

.card {
    max-width: 20rem;
    margin: 0 auto;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
    --bs-card-border-color: green;
}

#character-detail .card {
    max-width: 100%; 
    margin: 0 auto; 
}

#character-detail img {
    object-fit: cover; 
    height: 100%;
}

/* Estilo para os botões de paginação */
.pagination .page-item .page-link {
    color: #62ab60; 
    border: 1px solid #62ab60;
    transition: all 0.3s ease; 
}

.pagination .page-item .page-link:hover {
    background-color: #62ab60;
    color: #fff; 
    border-color: #62ab60; 
}

.pagination .page-item.active .page-link {
    background-color: #62ab60; 
    color: #fff; 
    border-color: #62ab60;
}

.pagination {
    gap: 0.5rem;
}
